---
import { getCollection } from "astro:content";
const blog = await getCollection("blog");
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main>
    <section>
      <ul class="blog-list">
        {
          blog.map((blogPost) => {
            return (
              <li class="blog-list__list-item">
                <div class="blog-list__link-container">
                  <a href={`/blog/${blogPost.slug}`}>{blogPost.data.title}</a>
                  <time>{blogPost.data.pubDate.toLocaleDateString()}</time>
                </div>
                <span class="blog-list__description">
                  <p>{blogPost.data.description}</p>
                </span>
                <ul class="blog-list__tag-list">
                  {blogPost.data.tags.map((tag) => (
                    <li>
                      <a href="">{tag}</a>
                    </li>
                  ))}
                </ul>
              </li>
            );
          })
        }
      </ul>
    </section>
  </main>
</BaseLayout>

<style>
  section {
    display: grid;
    max-width: 65ch;
    margin: 0 auto;
    padding: var(--space-s) var(--space-l);
  }

  .blog-list {
    margin: 0;
    padding: 0;
  }

  .blog-list__list-item {
    display: grid;
    gap: var(--space-s);
  }

  .blog-list > li::marker {
    color: var(--accent);
  }

  .blog-list__link-container {
    display: flex;
    flex-direction: column;
    padding: 0 var(--space-s);
  }

  .blog-list__link-container > a {
    color: var(--white);
    font-family: var(--zodiac);
    font-size: var(--step-1);
    font-weight: 660;
    text-decoration-color: var(--accent);
    text-underline-offset: 4px;
    width: fit-content;
  }

  .blog-list__link-container > time {
    font-family: var(--roboto);
  }

  .blog-list__description {
    display: flex;
    padding: 0 var(--space-s);
  }

  .blog-list__tag-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0 var(--space-s);
  }

  .blog-list__tag-list a {
    color: var(--muted);
    padding: 4px 16px;
    border-top: 1px solid var(--very-muted);
    border-bottom: 1px solid var(--very-muted);
    border-left: 1px solid var(--very-muted);
    text-decoration-color: var(--very-muted);
    text-underline-offset: 2px;
  }

  .blog-list__tag-list li:last-child a {
    border-right: 1px solid var(--very-muted);
  }
</style>
